@model website.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartueTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartueTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomyClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
