@model website.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerInformation.PassengerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightInformation.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
